body {
    background-color: black;
}
.navbar-dark {
    background: #58754f;
    height:50px;
}

a.dropdown-item {
    font-size: 0.85rem !important;
}

hr.dropdown-divider {
    border-top: 1px;
    margin: 8px 12px;
}
